### ignore root files
*.root

### ignore images and similar types
*.png
*.jpeg
*.jpg
*.eps
*.pdf

### ignore compiled python
*.pyc

### ignore crab job files
cjob_*

### ignore output directories
*/output_*

### ignore specific directories altogether
files
oldplots
